/* .container-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* position: absolute; */
/* top: 0; */

/*
.location-map {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;
  height: 40rem;
  left:25%;
} */

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: "poppins-semibold", "poppins",
    "poppins-Thin-100" "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande",  sans-serif;
  overflow-x: hidden;
  /* overflow-y: auto; */
  /* overflow-y: scroll; */
}

h1 {
  margin: 0;
}

main {
  padding: 0rem;
}

.contact-info-form {
  padding: 3rem 2px 0px 2px;
  display: flex;
  /* justify-content: space-between; */
  width: auto;
  height: 40rem;
  background-color: #1e3254;
  color: whitesmoke;
}

.contact-info {
  text-align: left;
  width: 33%;
  font-weight: 200;
  /* display: ; */
  padding: 2rem;
  position: relative;
  top: 20%;
  align-items: center;
  /* place-items: center-normal; */
  justify-content: center;
  /* margin-bottom: 2rem; */
}
.contact-info h2 {
  position: relative;
  left: 30%;
  font-size: xx-large;
  margin-bottom: 2rem;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-form-bg {
  background-image: url("./images/guards.jpg");
  background-size: cover;

  --fill-layer-image-opacity: 0.22;
  --bg-overlay-color: rgb(16 14 14);
  --bg-gradient: none;
  display: flex;
  position: relative;
  left: 0;
  width: 67%;
  align-items: center;
  justify-content: center;
}

.contact-form {
  color: rgb(255, 255, 255);
  background: rgba(50, 50, 63, 0.696);
  z-index: 1;

  display: flex;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
  /* margin-bottom: 2rem; */
  align-items: center;
  justify-content: center;
}
.contact-form form {
  width: 70%;
  padding: 2rem;
  /* display: flex;
  justify-content: center; */
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: larger;
  font-weight: 400;
  /* width: 100%; */
}

input,
textarea {
  width: 100%;
  color: white;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1.5rem;
  background: transparent;
  border: 0.5px solid rgba(214, 205, 205, 0.171);
  /* border: 2px solid #ccc; */
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: #1e3254;
  color: rgb(255, 255, 255);
  border: #1e3254;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #29416a;
  color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .contact-info li {
    font-size: small;
    text-align: left;
    padding-left: 0.5rem;
  }
  p {
    padding-top: 2rem;
    font-weight: 400;
    text-align: left;
  }

  .contact-info-form {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .contact-form form {
    width: 90%;
  }
  .contact-info {
    width: 100%;
    text-align: center;
    /* padding: 2rem; */
    top: 0;
  }
  .contact-form-bg {
    width: 100%;
  }
  .container-map .location-map {
    height: 20rem;
    padding-top: 0;
    /* padding-top: 1rem; */
    /* position: relative;
    
    top: 2px; */
  }
}

footer {
  background-color: #1e3254;
  color: white;
  padding: 1rem;
  text-align: center;
  /* overflow-y: hidden; */
}

/* .container-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.location-map {
  width: 600px;
  height: 450px;
} */
.container-map {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 50rem; /* Make the height adapt to the content */
  padding-top: 3rem; /* Add some space around the map */
}

.location-map {
  width: 80%; /* Allow map to take up full width */
  /* max-width: 800px; Set a maximum width to prevent it from getting too wide */
  height: 50rem;
  /* padding: 3rem; */
  /* margin: 3rem; */
}

.location-map iframe {
  width: 100%; /* Ensure iframe takes up the full width of the container */
  height: 80%; /* Maintain a good height for the map */
  border: 0; /* Remove border around iframe */
}

.location-map h2 {
  /* position: top; */
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
}

@media (max-width: 768px) {
  .location-map {
    height: 30rem;
  }
  .location-map iframe {
    width: 100%;
    height: 30rem;
  }
}
