body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: "poppins-semibold", "poppins", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
     sans-serif;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

header {
  background-color: #1e3254; /* Dark blue background */
  /* padding: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 4;
  position: fixed;
  /* paddin-bottom: 20rem; */
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* position: absolute; */
  /* top: 0; */
}
/* navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */
header .logo {
  display: flex;
  align-items: center;
  /* height: 7rem; */
}
.logo-dimensions {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Space between logo and text */

  /* max-width: 50px;
  height: auto;    
  margin-right: 15px; */

  /* width: 80px;
  height: 80px;
  object-fit: contain;
  position: static;
  object-position: center center; */
}
.logo img {
  max-width: 100px; /* Fixing the width of the logo */
  height: auto; /* Maintains the aspect ratio */
}
header .logo h1 {
  font-size: 24px;
  margin: 0;
}
@media (max-width: 768px) {
  .header .logo h1 {
    /* font-size: 6rem; */
    /* font-weight: 600; */
    margin: 0;
  }
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header .social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
}

.hero {
  background-image: url("./images/HeroBanner2.jpeg"); /* Add the path to your image */
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.hero .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero .hero-content {
  text-align: center;
}

.hero .hero-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-top: 3rem;
}

.hero .hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.hero .btn {
  background-color: #ff4b2b; /* Button color */
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
}

/* the code for the second image */
.services {
  text-align: center;
  padding-top: 8rem;
  background-color: #f7f7f7;
}

.services h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #1c2a45;
}

.services-container {
  width: 100%;
  padding-top: 6rem;
  display: flex;
  justify-content: flex-start;

  /* gap: 20px; */
}

.service-box {
  background-color: white;
  width: 34%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 0px;
  overflow: hidden;
  text-align: left;
  position: relative;
  /* color: black; */
  /* height is changed temp */
}

.service-box img {
  width: 100%;
  /* height: 20rem; */
}

.service-content {
  /* background-color: black; */
  padding: 2rem;
  /* position: absolute; */
  /* top: 2rem; */
  height: 30rem;
}
.service-box ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 63, 0.305); /* Blue tint with 40% opacity */
  z-index: 1;
}
.service-content h3 {
  font-size: 24px;
  color: white;
  justify-self: center;
  /* background-size: contain; */
  /* margin-bottom: ; */
  position: absolute;
  top: 40%;
  /* left: 20px; */
  /* height: 30rem; */
  /* margin-top: 5rem; */
}
.service-content p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  z-index: 2;
  /* left: 20px; */
  /* padding-botto; */
}

.service-content p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 63, 0); /* Blue tint with 40% opacity */
  z-index: 2;
}
.service-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 63, 0); /* Blue tint with 40% opacity */
  z-index: 2;
  padding-bottom: 5rem;
}
/* Safety Section Styles */
.safety-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: #d9e5eb; /* Light blue background */
}

.content-wrapper {
  text-align: center;
}

/* Heading Styles */
.heading {
  font-size: 2.2rem;
  color: #1b2b4c; /* Dark blue text */
  margin-bottom: 3rem;
  font-weight: 650;
}

/* Button Styles */
.cta-button {
  padding: 10px 20px;
  border: 3px solid #1b2b4c; /* Border matching the text color */
  border-radius: 25px;
  background-color: transparent;
  color: #1b2b4c;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #1b2b4c;
  color: #ffffff; /* Button color changes to white when hovered */
}

/* About section styles */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100vh; */
  /* padding: 0 5%; */
  background-color: #f4f6f9;
}

/* Image styles */
.about-image {
  position: relative;
  flex: 1;
  /* padding: 20px; */
  padding-right: 20px;
  height: 100%;
}

.about-image img {
  /* padding-top: 3rem; */
  width: 100%;
  height: 80%;
  /* border-radius: 10px; */
  /* justify-self: center; */
  /* margin-bottom: -0.43rem; */
}

/* Content styles */
.about-content {
  flex: 1;
  text-align: left;
}

.about-content h2 {
  font-size: 2.5rem;
  color: #1b2b4c;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.learn-more-btn {
  padding: 10px 20px;
  border: 3px solid #1b2b4c;
  border-radius: 25px;
  background-color: transparent;
  color: #1b2b4c;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #1b2b4c;
  color: white;
}

/* TEST */

@media (max-width: 768px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-image,
  .about-content {
    flex: 1;
    width: 100%; /* Take full width in a row layout */
    padding: 10px; /* Adjust padding to create space */
  }

  .about-section {
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* Add spacing between elements */
  }
}
/* crousile section CSS */

.testimonial-carousel * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonial-carousel {
  font-family: Arial, sans-serif;
  background-color: #1d2b44;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.testimonial-carousel h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.testimonial-carousel .carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial-carousel .slide {
  display: none;
  font-size: 1.25rem;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.testimonial-carousel .active {
  display: block;
  opacity: 1;
}

.testimonial-carousel .carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.testimonial-carousel .carousel-controls span {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  user-select: none;
}

.testimonial-carousel .indicators {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.testimonial-carousel .dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.testimonial-carousel .active.dot {
  background-color: #fff;
}

.testimonial-carousel .get-in-touch {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #0c2340;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.testimonial-carousel .get-in-touch:hover {
  background-color: #051627;
}

/* certification CSS */
#certifications {
  text-align: center;
  background-color: #f0f5f9;
  padding: 50px 0;
}

#certifications h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.certification-list,
.certification-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 2rem;
}

.certification-item {
  width: 90%;
  max-width: 60rem;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certification-item p {
  font-size: 18px;
  color: #34495e;
  margin: 0;
}

.certification-item strong {
  color: #2c3e50;
}
.certifications-section {
  background-color: #e0ecf2;
  text-align: center;
  padding: 50px 0;
  /* font-family: Arial, sans-serif; */
}

.certifications-section h2 {
  font-size: 2.8rem;
  color: #1d2b44;
  margin-bottom: 40px;
}

.certifications-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.certifications-logos img {
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

.certifications-logos img:hover {
  transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 768px) {
  .certifications-logos {
    flex-wrap: wrap;
  }
  .services-container {
    flex-direction: column;
  }
  .service-box {
    width: 100%;
  }
  .certifications-logos img {
    width: 100px;
  }
}

/* contact form css */
#contact {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  #contact {
    display: none;
  }
}

#contact-info {
  max-width: 300px;
}

#contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#contact-info p {
  margin: 10px 0;
}

#social-media a {
  margin-right: 15px;
}

#social-media img {
  width: 24px;
  height: 24px;
}

#contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

#contact-form div {
  display: flex;
  flex-direction: column;
}

#contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"] {
  width: 100%;
}

#contact-form textarea {
  grid-column: span 2;
  height: 100px;
}

#contact-form button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #1d2d50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #344867;
}

.footer_section {
  background-color: #415273;
  padding: 30px 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  bottom: 0;
}

.footer_section p {
  color: #fff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fff;
}

/* WHY CHOOSE US SECTION CSS */

.why-choose-us-section {
  background-color: #f0f4f8; /* Light blue background for consistency */
  padding: 40px;
  text-align: center;
}

.why-choose-us-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2c3e50; /* Dark color for the heading */
}

.reasons-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.reason-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a professional look */
  flex: 1;
  min-width: 250px;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

.reason-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #34495e;
}

.reason-item p {
  font-size: 16px;
  color: #7f8c8d; /* Softer text color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .reasons-container {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .reasons-container {
    display: flex;
  }
}
